*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

h1,
h2 {
  font-weight: 400;
}

:root {
  --grey-500: #4d4f62;
  --grey-400: #6a7178;
  --white: #fff;
  --red: #ea5454;
  --cyan: #44d3d2;
  --blue: #549ef2;
  --orange: #fcae4a;

  --poppins: Poppins, sans-serif;
}

.text-preset-1 {
  font-family: var(--poppins);
  font-size: 2.25rem;
  font-style: regular;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.0156rem;
}

.text-preset-2 {
  font-family: var(--poppins);
  font-size: 2.25rem;
  font-style: regular;
  font-weight: 200;
  line-height: 1.4;
  letter-spacing: 0.0156rem;
}

.text-preset-3 {
  font-family: var(--poppins);
  font-size: 1.25rem;
  font-style: regular;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: 0rem;
}

.text-preset-4 {
  font-family: var(--poppins);
  font-size: 0.9375rem;
  font-style: regular;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0rem;
}

.text-preset-5 {
  font-family: var(--poppins);
  font-size: 0.8125rem;
  font-style: regular;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0rem;
}

main {
  display: inline-block;
}

body {
  display: flex;
  justify-content: center;
}

.intro {
  min-width: 19.625rem;
  max-width: 21.875rem;
  border: 2px solid #44d3d2;
}

.card {
  min-width: 19.625rem;
  max-width: 21.875rem;
  border: 2px solid #44d3d2;
}
