*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

h1,
h2 {
  font-weight: 400;
}

:root {
  --grey-500: #4d4f62;
  --grey-400: #6a7178;
  --white: #fff;
  --red: #ea5454;
  --cyan: #44d3d2;
  --blue: #549ef2;
  --orange: #fcae4a;

  --poppins: Poppins, sans-serif;
}

.text-preset-1 {
  font-family: var(--poppins);
  font-size: 2.25rem;
  font-style: regular;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.0156rem;
}

.text-preset-2 {
  font-family: var(--poppins);
  font-size: 2.25rem;
  font-style: regular;
  font-weight: 200;
  line-height: 1.4;
  letter-spacing: 0.0156rem;
}

.text-preset-3 {
  font-family: var(--poppins);
  font-size: 1.25rem;
  font-style: regular;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: 0rem;
}

.text-preset-4 {
  font-family: var(--poppins);
  font-size: 0.9375rem;
  font-style: regular;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0rem;
}

.text-preset-5 {
  font-family: var(--poppins);
  font-size: 0.8125rem;
  font-style: regular;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0rem;
}

body {
  display: flex;
  justify-content: center;
}

main {
  margin-top: 3.125rem; /* temp */
  max-width: 21.875rem;
  width: 90%;
  display: grid;
}

.intro {
  margin-bottom: 3.75rem;
  text-align: center;
}

.intro-title {
  font-family: var(--poppins);
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.4;
  letter-spacing: 0.0156rem;
  color: var(--grey-500);
  margin-bottom: 1rem;
}

.intro-paragraph {
  font-family: var(--poppins);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0rem;
  color: var(--grey-500);
}

.intro-strong {
  font-family: var(--poppins);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.0156rem;
  color: var(--grey-500);
}

.card__top-border-cyan {
  border-top: solid 0.25rem var(--cyan);
}

.card__top-border-red {
  border-top: solid 0.25rem var(--red);
}

.card__top-border-orange {
  border-top: solid 0.25rem var(--orange);
}

.card__top-border-blue {
  border-top: solid 0.25rem var(--blue);
}

.card {
  /* not a flex item , do we need this or can we keep at display: block?*/
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  height: 250px;
  box-shadow: 0rem 0.9375rem 1.875rem -0.6875rem rgba(131, 166, 210, 0.5);
}

.card-title {
  font-family: var(--poppins);
  font-size: 1.25rem;
  font-style: regular;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: 0rem;
  color: var(--grey-500);
  margin-bottom: 0.375rem;
}

.card-paragraph {
  font-family: var(--poppins);
  font-size: 0.8125rem;
  font-style: regular;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0rem;
  color: var(--grey-400);
  margin-bottom: 2rem;
}

.card-icon {
  width: 100%;
  align-self: end;
  max-width: 4rem;
}
